@font-face {
    font-family: 'titillium-bold';
    src: url('../fonts/titilliumweb-bold-webfont.eot');
    src: url('../fonts/titilliumweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
    url('../fonts/titilliumweb-bold-webfont.woff') format('woff'),
    url('../fonts/titilliumweb-bold-webfont.ttf') format('truetype'),
    url('../fonts/titilliumweb-bold-webfont.svg#titillium_webbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-italic';
    src: url('../fonts/titilliumweb-italic-webfont.eot');
    src: url('../fonts/titilliumweb-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
    url('../fonts/titilliumweb-italic-webfont.woff') format('woff'),
    url('../fonts/titilliumweb-italic-webfont.ttf') format('truetype'),
    url('../fonts/titilliumweb-italic-webfont.svg#titillium_webitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-regular';
    src: url('../fonts/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titilliumweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
    url('../fonts/titilliumweb-regular-webfont.woff') format('woff'),
    url('../fonts/titilliumweb-regular-webfont.ttf') format('truetype'),
    url('../fonts/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-semibold';
    src: url('../fonts/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titilliumweb-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titilliumweb-semibold-webfont.woff2') format('woff2'),
    url('../fonts/titilliumweb-semibold-webfont.woff') format('woff'),
    url('../fonts/titilliumweb-semibold-webfont.ttf') format('truetype'),
    url('../fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-light';
    src: url('../fonts/titilliumweb-light-webfont.eot');
    src: url('../fonts/titilliumweb-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/titilliumweb-light-webfont.woff2') format('woff2'),
    url('../fonts/titilliumweb-light-webfont.woff') format('woff'),
    url('../fonts/titilliumweb-light-webfont.ttf') format('truetype'),
    url('../fonts/titilliumweb-light-webfont.svg#titillium_weblight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.container-fluid {
    padding: 0;
    max-width: 1920px;
}

.main-header {
    background-color: #87509c;
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

.nav-logo {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.main-menu-block li {
    display: inline-block;
    padding: 0 5px;
}

.main-menu-block li a {
    display: block;
    padding: 5px 10px;
    color: white;
    font-family: titillium-regular ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.main-menu-block li a:hover {
    background-color: #4f2b61;
}

.main-menu-active {
    background-color: #643a79;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 130px 25px;
}

.welcome-section p {
    font-size: 48px;
    color: white;
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.button, .contacts button {
    display: inline-block;
    margin-top: 55px;
    padding: 25px 50px;
    font-family: titillium-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    word-wrap: break-word;
}

a.work-with-us {
    background-color: #eb7d4b;
    border-bottom: solid 5px #c86a40;
}

.service-provide {
    background-color: #17c2a4;
    padding: 120px 10%;
    text-align: center;
}

.short-line {
    display: block;
    width: 90px;
    height: 4px;
    background-color: rgba(0, 0 ,0, 0.3);
    margin: 20px auto;
}

.services > div {
    padding: 0 4%;
}

.article-image {
    height: 120px;
}

.services h2 {
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: white;
    margin: 30px 0;
    text-transform: uppercase;
    word-wrap: break-word;
}

.services p {
    font-family: titillium-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.our-team {
    text-align: center;
    padding: 100px 7%;
    background-color: #e7f1f8;
}

.section-title {
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #3c4761;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    letter-spacing: 2px;
}

.section-subtitle {
    font-family: titillium-regular , "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #3c4761;
    width: 50%;
    margin: 0 auto 75px auto;
    text-align: center;
}

.service-provide > h1, .service-provide > p {
    color: white;
}

.our-portfolio > h1, .our-portfolio > p {
    color: #393939;
}

.our-portfolio > p {
    margin-bottom: 40px;
}

.members-photo {
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
}

.our-team img {
    max-height: 100%;
}

.our-team h2 {
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #27283d;
    text-transform: uppercase;
    margin-top: 40px;
    word-wrap: break-word;
}

.our-team h3 {
    font-family: titillium-regular , "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #30bae7;
    margin-top: 20px;
    word-wrap: break-word;
}

.about-person {
    font-family: titillium-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #3c4761;
    margin: 30px 0;
}

.social-icons li {
    display: inline-block;
    padding: 0 5px;
}

.our-skills {
    padding: 100px 7%;
    text-align: center;
    background-color: white;
}

.circle {
    position: relative;

}

.circle strong {
    position: absolute;
    font-size: 50px;
    font-family: titillium-light, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3c4761;
    left: 50%;
    top: 50%;
    margin: -28px 0 0 -38px;
}

.our-skills h2 {
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #3c4761;
    margin-top: 30px;
    text-transform: uppercase;
}

.our-portfolio {
    background-color: #ffdd99;
    padding: 120px 8% 100px 8%;
    text-align: center;
}

.portfolio-menu-block {
    margin-bottom: 60px;
}

.portfolio-menu-block li {
    display: inline-block;
    text-align: center;
    padding: 0 5px;
}

.portfolio-menu-block a {
    display: block;
    padding: 5px 10px;
    color: #393939;
    font-family: titillium-regular ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #ebc985;
    word-wrap: break-word;
}

a.portfolio-menu-active {
    background-color: white;
}

.portfolio-menu-block a:hover {
    background-color: #cea960;
}

.portfolio img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    margin: 0 auto;
}

.portfolio h2 {
    text-align: center;
    font-family: titillium-regular , "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #393939;
    text-transform: uppercase;
    margin: 15px auto;
}

.portfolio > div {
    margin-bottom: 20px;
}

a.btn-learn-more {
    background-color: #17c2a4;
    border-bottom: solid 5px #14a58c;
}

.about-us {
    background-color: #d74680;
    padding: 100px 9% 0 9%;
}

.about-us h1 {
    color: white;
}

.about-us > p {
    color: white;
}

.feedbacks-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.feedbacks-img img {
    max-height: 100%;
    max-width: 100px;
}

.feedbacks > div {
    margin-bottom: 130px;
}

.feedback-wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.feedback-text {
    padding: 0 40px;
}

.feedback-text p {
    font-family: titillium-italic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    color: white;
    margin-bottom: 25px;
    line-height: 30px;
    word-wrap: break-word;
}

.feedback-text h2 {
    font-family: titillium-bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 5px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.feedback-text h3 {
    font-family: titillium-regular , "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #ffdd99;
    word-wrap: break-word;
}

.contacts {
    padding: 120px 10px;
    background-color: #3c5499;
}

.contacts > h1 {
    color: white;
}

.contacts > p {
    color: #393939;
    width: auto;
    max-width: 850px;
}

.send-form {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.send-form input, .send-form textarea {
    width: 100%;
    padding: 15px;
    font-family: titillium-regular , "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: #273a71;
}

.send-form input {
    height: 60px;
    margin-bottom: 25px;
}

.send-form textarea {
    height: 200px;
    resize: none;
}

.contacts button {
    display: block;
    background-color: #30bae7;
    border: none;
    border-bottom: 4px solid #299ec5;
    margin: 60px auto 0 auto;
}

.main-footer {
    background-color: #344b8e;
    padding: 40px 7%;
}

.main-footer ul {
    display: flex;
    justify-content: space-around;
    max-width: 940px;
    margin: 0 auto;
}

.main-footer a {
    font-family: titillium-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 22px;
}

.main-footer a:hover {
    color: #30b4e2;
}

.menu-mobile-icon {
    position: absolute;
    width: 40px;
    z-index: 2;
    top: 17px;
    left: 13px;
}
.menu-mobile-icon img {
    max-width: 100%;
}

.mobile-menu {
    box-shadow: 0 0 15px 3px black;
    background-color: #522663;
    position: fixed;
    font-family: bebas-neue, arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 23px;
    color: white;
    width: 280px;
    min-height: 100%;
    top: 0;
    left: -290px;
    z-index: 9999;
    padding: 50px 0 50px 35px;
    word-wrap: break-word;
    display: block;
    transition: left 400ms ease-in-out;
}

.mobile-icon-close {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 30px;
}

.mobile-icon-close img {
    width: 100%;
}

.mobile-menu ul a {
    word-wrap: break-word;
    text-transform: uppercase;
    font-family: titillium-semibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: white;
}

.mobile-menu ul a:hover {
    text-decoration: underline;
}

.mobile-menu ul {
    margin-top: 15px;
}

.mobile-menu li {
    padding: 5px 0;
    margin-left: 30px;
}

.mobile-menu-active {
    left: 0;
}

.blur {
     -webkit-filter: blur(3px);
    filter: blur(3px);
}